*.local
*.identcache
Design Patterns/Model View Presenter/Word Calculator/WordOccurenceCalculator.res
*.stat
Design Patterns/Model View Presenter/Word Calculator/WordOccurenceCalculator_Test_VCL.res
Design Patterns/Adapter/Color Adapter/ColorAdapter.res
*.dfm.~*
*.pas.~*
*.dpr.~*
